<h1>My Favorite Movies</h1>

<div class="row">
<% @movies.each do |movie| %>
	<div class="col-md-4 text-center">
		<div class="thumbnail">
			<%= link_to movie do %>
		    <% if movie.poster == "N/A" %>
		    	<%= image_tag '400.jpeg', width: '150px' %><br>
		    <% else %>
		      <%= image_tag movie.poster, width: '150px' %><br>
		    <% end %>
	    <% end %>
			<div class="caption">
		    <h3><%= movie.title %></h3>
		    <%= movie.year %><br>
			  <%= link_to 'Delete', movie,
							      method: :delete, data: {confirm: 'Are you sure?'} %>
			</div>
		</div>
	</div>  
<% end %>
</div>