<h1>Results</h1>
<div class="row">
<% @movies.each do |movie| %>
	<div class="col-md-4 text-center">
		<div class="thumbnail">
			<%= link_to details_path(movie["imdbID"]) do %>
				<% if movie["Poster"] == "N/A" %>
					<%= image_tag '400.jpeg', width: '150px' %><br>
				<% else %>
			    <%= image_tag movie["Poster"], width: '150px' %><br>
		    <% end %>
	    <% end %>
			<div class="caption">
		    <h3><%= movie["Title"] %></h3>
		    <%= movie["Year"] %><br>
		    <%= link_to 'Details', details_path(movie["imdbID"]) %>
			</div>
		</div>
	</div>  
<% end %>
</div>