<h1><%= @movie.title %></h1>
<p><strong>Year</strong>: <%= @movie.year %></p>
<p><strong>Plot</strong>: <%= @movie.plot %></p>
<p><%= image_tag @movie.poster, width: '150px' %></p>
<%= link_to 'Back', :back %>